@use "./variables" as *;

.js-scroll {
    opacity: 0.1;
    transition: 3s;
}

.js-scroll.scrolled {
    opacity: 1;
    // background-color: red;
}

body {
    position: relative;
}
.star {
    position: absolute;
    font-size: 10rem;
}