@use "./variables" as *;

.projectsBG {
    text-align: center;
    background-color: $white;
    padding-top: 5%;
    padding-bottom: 5%;

    h2 {
        margin-bottom: 2%;
        @include sectionHeading($darkBlue);
    }
}

.projects {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 0 auto;

    li {
        display: flex;
        justify-content: center;
        margin-top: 4%;
        margin-bottom: 4%;
    }

    button {
        margin-left: 0;
        margin-right: 0;
    }
}

.projectImage {
    padding-left: 1%;
    padding-right: 4%;
    margin-right: 3%;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;


    img {
        width: 100%;
        height: 90%;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    }
}

.projectInfo {
    width: 40%;
    padding-left: 1%;
    padding-right: 1%;
    margin: 0;
    text-align: left;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
        color: $black;
        font-size: 2.4rem;
        margin: 0;
    }

    h4 {
        color: $darkBlue;
        font-size: 1.6rem;
        margin-top: 0;
        margin-bottom: 2%;
    }
}

.projectInfoTwo {
    text-align: right;
}

.projectImageTwo {
    margin-right: 0;
    margin-left: 3%;
}

@media (max-width: 940px) {
    .projects {
        width: 100%;
    }

    .projects li {
        flex-direction: column;
        align-items: center;
    }

    .projectInfo {
        align-items: center;
    }

    .projectButtons {
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            margin-left: 0;
            margin-right: 0;
        }

        .projects {
            .viewCode {
                margin-left: 0;
            }
        }
    }

    .projectInfoTwo {
        text-align: left;
        order: 2
    }

    .projectImageTwo {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 2%;
        order: 1;
    }
    .projectImage {
        margin-right: 0;
        margin-bottom: 2%;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .projectInfo {
        width: 100%;
    }
}