@use "./variables" as *;

.skillsBG {
    text-align: center;
    background-color: $lightBlue;
    padding-top: 5%;
    padding-bottom: 5%;
    h2 {
        margin-bottom: 2%;
        @include sectionHeading($black);
    }
}
.skillsIcons {
    ul {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        li {
            margin: 2%;
            transition: 0.5s;
            i {
                font-size: 6.4rem;
                transition: 0.5s;
                color: black;
                &:hover {
                    color: blue;       
                }
            }
        }
    }
}

@media (max-width: 940px) {
    .skillsIcons {
            ul {                
                flex-wrap: wrap;
                li {
                    margin: 0%;
                    flex-basis: 45%;   
                }
            }
        }
    .skillsBG {
        h2 {
            margin-bottom: 4%;
        }
    }
}