@use "./variables" as *;
@use "./setup";
@use "./header";
@use "./aboutMe";
@use "./skills";
@use "./getInTouch";
@use "./projects";
.wrapper {
    width: 90%;
    margin: 0 auto;
}

button {
    background-color: $orange;
    border: none;
    color: $black;
    font-weight: 600;
    padding: 12px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    margin: 2% 3%;
}

p {
    line-height: 2.4rem;
}